@font-face {
  font-family: "Blender Pro Medium";
  src: url(font/BlenderProMedium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6.5, 13.8666666667, 16.9);
}

h1, h2, h3, h4, h5, p, span, a {
  color: #d1d0c5;
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}

h1 {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-size: max(4vw, 4vh);
  font-weight: 700;
}

h2 {
  font-size: max(3vw, 3vh);
  font-weight: 600;
}

h3 {
  font-size: max(1.6vw, vh);
  font-weight: 600;
}

section {
  height: 100vh;
}

button {
  padding: 0.5em 2em;
  font-size: 1.2rem;
  font-family: "Blender Pro Medium" "Work Sans" Arial, Helvetica, sans-serif;
  background: rgba(0, 57, 80, 0.1);
  border-radius: 0.5em;
  color: #d1d0c5;
  cursor: pointer;
  border: none;
  transition: 200ms;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.accent {
  color: #206a73;
}

.accent-gradient {
  background: linear-gradient(45deg, #206a73, rgb(3.0510204082, 151.4058273912, 169.4489795918));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.text-gradient {
  background: linear-gradient(45deg, #d1d0c5, rgb(163.8846153846, 161.9038461538, 140.1153846154));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.accent-glow {
  filter: drop-shadow(0 0 6px rgba(32, 106, 115, 0.4));
}

.text-accent-glow {
  text-shadow: 0 0 6px rgba(32, 106, 115, 0.4);
}

.text-accent-glow-strong {
  text-shadow: 0 0 8px #206a73;
}

.text-hover-glow-accent-s {
  transition: 200ms;
}
.text-hover-glow-accent-s:hover {
  transition: 300ms;
  text-shadow: 0 0 4px #206a73, 0 0 8px #206a73, 0 0 12px #206a73;
}

.text-hover-glow-accent-m {
  transition: 350ms ease-out;
}
.text-hover-glow-accent-m:hover {
  transition: 400ms;
  text-shadow: 0 0 8px rgba(32, 106, 115, 0.75), 0 0 16px rgba(32, 106, 115, 0.75), 0 0 24px rgba(32, 106, 115, 0.75);
}

.hover-grow {
  transition: transform 200ms;
}
.hover-grow:hover {
  transform: scale(1.05) translateY(0);
}

.hover-blur {
  overflow: hidden !important;
}

.accent-border {
  border: 0.15em solid #206a73;
}

.blurred-bg {
  background: linear-gradient(to bottom, #0f2027, #203a43);
  background: url(/assets/img/grain-soft.webp), rgba(0, 57, 80, 0.1);
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  background: rgba(32, 106, 115, 0.8);
  filter: blur(56px);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.blur-soft {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  background: rgba(32, 106, 115, 0.6);
  filter: blur(64px);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.separator {
  cursor: default;
}

.underline-animation {
  position: relative;
  color: #d1d0c5;
  padding: 0.2em 0;
  display: inline-block;
}
.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05em;
  background-color: #d1d0c5;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}
.underline-animation:hover::after {
  transform: scale(1);
}

.large {
  font-size: 2rem;
}

.load-1 {
  opacity: 0;
  animation: 1s ease-out 0s 1 slideUp1 forwards;
}

.load-2 {
  opacity: 0;
  animation: 1s ease-out 0s 1 slideUp1 forwards;
}

.load-3 {
  opacity: 0;
  animation: 1s ease-out 0s 1 slideUp2 forwards;
}

.animation-delay-1 {
  animation-delay: 100ms;
}

.animation-delay-2 {
  animation-delay: 200ms;
}

.animation-delay-3 {
  animation-delay: 300ms;
}

@keyframes slideUp1 {
  0% {
    opacity: 0;
    transform: translateY(30vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp2 {
  0% {
    opacity: 0;
    transform: translateY(20vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: "Blender Pro Medium";
  src: url(font/BlenderProMedium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6.5, 13.8666666667, 16.9);
}

h1, h2, h3, h4, h5, p, span, a {
  color: #d1d0c5;
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}

h1 {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-size: max(4vw, 4vh);
  font-weight: 700;
}

h2 {
  font-size: max(3vw, 3vh);
  font-weight: 600;
}

h3 {
  font-size: max(1.6vw, vh);
  font-weight: 600;
}

section {
  height: 100vh;
}

button {
  padding: 0.5em 2em;
  font-size: 1.2rem;
  font-family: "Blender Pro Medium" "Work Sans" Arial, Helvetica, sans-serif;
  background: rgba(0, 57, 80, 0.1);
  border-radius: 0.5em;
  color: #d1d0c5;
  cursor: pointer;
  border: none;
  transition: 200ms;
}

@font-face {
  font-family: "Blender Pro Medium";
  src: url(font/BlenderProMedium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6.5, 13.8666666667, 16.9);
}

h1, h2, h3, h4, h5, p, span, a {
  color: #d1d0c5;
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}

h1 {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-size: max(4vw, 4vh);
  font-weight: 700;
}

h2 {
  font-size: max(3vw, 3vh);
  font-weight: 600;
}

h3 {
  font-size: max(1.6vw, vh);
  font-weight: 600;
}

section {
  height: 100vh;
}

button {
  padding: 0.5em 2em;
  font-size: 1.2rem;
  font-family: "Blender Pro Medium" "Work Sans" Arial, Helvetica, sans-serif;
  background: rgba(0, 57, 80, 0.1);
  border-radius: 0.5em;
  color: #d1d0c5;
  cursor: pointer;
  border: none;
  transition: 200ms;
}

header {
  width: calc(100vw - max(1vh, 1vw) * 2);
  position: fixed;
  top: 0;
  left: 0;
  margin: max(1vh, 1vw);
  display: flex;
  justify-content: space-between;
}
header * {
  backdrop-filter: blur(10px);
}
header svg {
  color: #d1d0c5;
}
header > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
  gap: 0.5em;
  padding: 0.5em;
}
header > a svg {
  height: 1.5em;
  width: 1.5em;
}
header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
  gap: 0.5em;
  padding: 0.5em;
}
header > nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  gap: 0.5em;
}
header > nav a svg {
  height: 1.5em;
  width: 1.5em;
}

@font-face {
  font-family: "Blender Pro Medium";
  src: url(font/BlenderProMedium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6.5, 13.8666666667, 16.9);
}

h1, h2, h3, h4, h5, p, span, a {
  color: #d1d0c5;
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}

h1 {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-size: max(4vw, 4vh);
  font-weight: 700;
}

h2 {
  font-size: max(3vw, 3vh);
  font-weight: 600;
}

h3 {
  font-size: max(1.6vw, vh);
  font-weight: 600;
}

section {
  height: 100vh;
}

button {
  padding: 0.5em 2em;
  font-size: 1.2rem;
  font-family: "Blender Pro Medium" "Work Sans" Arial, Helvetica, sans-serif;
  background: rgba(0, 57, 80, 0.1);
  border-radius: 0.5em;
  color: #d1d0c5;
  cursor: pointer;
  border: none;
  transition: 200ms;
}

.background-overlay {
  position: fixed;
  top: -40%;
  left: 10;
  height: 120%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background: #0f2027;
  background: linear-gradient(to bottom, #0f2027, #203a43);
  background: url(/assets/img/grain-medium.webp), radial-gradient(100% 80% at top, rgba(6, 182, 212, 0.3) 0%, rgba(14, 165, 233, 0.1), transparent);
  -webkit-mask-image: radial-gradient(100% 80% at top, white, rgb(0, 0, 0), rgb(0, 0, 0), transparent);
  mask-image: radial-gradient(100% 80% at top, white, rgb(0, 0, 0), rgb(0, 0, 0), transparent);
}

@media only screen and (max-width: 768px) {
  .background-overlay {
    transform: scalex(2);
  }
}
.container {
  padding-bottom: 5vh;
  margin: auto;
  max-width: 80%;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container div h1 {
  margin: 0.8em 0;
}
.container div h2 {
  margin: 0.6em 0;
  width: 600px;
  max-width: 80%;
  align-self: center;
}
.container div h3 {
  margin: 0.6em 0;
  width: 500px;
  max-width: 70%;
  align-self: center;
}
.container button {
  align-self: center;
}

/*# sourceMappingURL=styles.css.map */
