@font-face {
  font-family: "Blender Pro Medium";
  src: url(font/BlenderProMedium.ttf);
}
@font-face {
  font-family: "Monaco";
  src: url(/assets/font/Monaco.ttf);
}
html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6.5, 13.8666666667, 16.9);
}

h1, h2, h3, h4, h5, p, span, a {
  color: #d1d0c5;
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 0.2rem 0;
}

h1 {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

section {
  min-height: 70vh;
}

button, .button {
  padding: 0.5em 2em;
  font-size: 1.2rem;
  font-family: "Monaco", Helvetica, sans-serif;
  background: rgba(0, 57, 80, 0.15);
  border-radius: 0.5em;
  color: #d1d0c5;
  cursor: pointer;
  border: 10px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border: none;
  transition: 200ms;
}

svg {
  min-width: 0;
  min-height: 0;
}

hr {
  border-width: 0;
  height: 4px;
  border-radius: 2px;
  background: #424446;
  width: 50%;
  margin: 30px auto;
}

.flex {
  display: flex;
}

.align-center, .gallery .gallery-item * {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.accent {
  color: #207a83;
}

.accent-gradient {
  background: linear-gradient(45deg, #207a83, rgb(0, 171.3636363636, 188.5));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.text-gradient {
  background: linear-gradient(45deg, #d1d0c5, rgb(163.8846153846, 161.9038461538, 140.1153846154));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.accent-glow, .hover-glow:hover {
  filter: drop-shadow(0 0 6px rgba(32, 122, 131, 0.4));
}

.accent-box-glow, .hover-box-glow:hover, .gallery .gallery-item:hover {
  box-shadow: 0 0 18px rgba(32, 122, 131, 0.6);
}

.text-accent-glow {
  text-shadow: 0 0 6px rgba(32, 122, 131, 0.4);
}

.text-accent-glow-strong {
  text-shadow: 0 0 8px #207a83;
}

.text-hover-glow-accent-s {
  transition: 200ms;
}
.text-hover-glow-accent-s:hover {
  transition: 300ms;
  text-shadow: 0 0 4px #207a83, 0 0 8px #207a83, 0 0 12px #207a83;
}

.text-hover-glow-accent-m {
  transition: text-shadow 350ms ease-out;
}
.text-hover-glow-accent-m:hover {
  transition: 400ms;
  text-shadow: 0 0 8px rgba(32, 122, 131, 0.75), 0 0 16px rgba(32, 122, 131, 0.75), 0 0 24px rgba(32, 122, 131, 0.75);
}

.transition-fast, .gallery .gallery-item {
  transition: 200ms;
}

.transition-medium {
  transition: 300ms;
}

.transition-slow {
  transition: 500ms;
}

.hover-grow:hover, .gallery .gallery-item:hover {
  transform: scale(1.05);
}

.hover-blur {
  overflow: hidden !important;
}

.accent-border, .gallery .gallery-item {
  border: 0.15em solid;
  border-color: #207a83;
  border-radius: 1em;
}

.blurred-bg {
  background: linear-gradient(to bottom, #0f2027, #203a43);
  background: url(/assets/img/grain-soft.webp), rgba(0, 57, 80, 0.1);
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  background: rgba(32, 122, 131, 0.8);
  filter: blur(56px);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.blur-soft {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em;
  background: rgba(32, 122, 131, 0.6);
  filter: blur(64px);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.separator {
  cursor: default;
}

.underline-animation {
  position: relative;
  color: #d1d0c5;
  padding: 0.2em 0;
  display: inline-block;
}
.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05em;
  background-color: #d1d0c5;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}
.underline-animation:hover::after {
  transform: scale(1);
}

.large {
  font-size: 2rem;
}

.flex {
  display: flex;
}

.flex-start {
  justify-content: flex-start !important;
}

.space-between {
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row !important;
}

.align-left {
  text-align: left;
  align-self: left;
}

.load-1 {
  opacity: 0;
  animation: 1s ease-out 0s 1 slideUp1 forwards;
}

.load-2 {
  opacity: 0;
  animation: 1s ease-out 0s 1 slideUp1 forwards;
}

.load-3 {
  opacity: 0;
  animation: 1s ease-out 0s 1 slideUp2 forwards;
}

.animation-delay-1 {
  animation-delay: 100ms;
}

.animation-delay-2 {
  animation-delay: 200ms;
}

.animation-delay-3 {
  animation-delay: 300ms;
}

@keyframes slideUp1 {
  0% {
    opacity: 0;
    transform: translateY(30vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp2 {
  0% {
    opacity: 0;
    transform: translateY(20vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 600px) {
  .mobile-align-center {
    align-self: center;
    text-align: center;
  }
}
@font-face {
  font-family: "Blender Pro Medium";
  src: url(font/BlenderProMedium.ttf);
}
@font-face {
  font-family: "Monaco";
  src: url(/assets/font/Monaco.ttf);
}
html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6.5, 13.8666666667, 16.9);
}

h1, h2, h3, h4, h5, p, span, a {
  color: #d1d0c5;
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 0.2rem 0;
}

h1 {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

section {
  min-height: 70vh;
}

button, .button {
  padding: 0.5em 2em;
  font-size: 1.2rem;
  font-family: "Monaco", Helvetica, sans-serif;
  background: rgba(0, 57, 80, 0.15);
  border-radius: 0.5em;
  color: #d1d0c5;
  cursor: pointer;
  border: 10px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border: none;
  transition: 200ms;
}

svg {
  min-width: 0;
  min-height: 0;
}

hr {
  border-width: 0;
  height: 4px;
  border-radius: 2px;
  background: #424446;
  width: 50%;
  margin: 30px auto;
}

@font-face {
  font-family: "Blender Pro Medium";
  src: url(font/BlenderProMedium.ttf);
}
@font-face {
  font-family: "Monaco";
  src: url(/assets/font/Monaco.ttf);
}
html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6.5, 13.8666666667, 16.9);
}

h1, h2, h3, h4, h5, p, span, a {
  color: #d1d0c5;
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 0.2rem 0;
}

h1 {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

section {
  min-height: 70vh;
}

button, .button {
  padding: 0.5em 2em;
  font-size: 1.2rem;
  font-family: "Monaco", Helvetica, sans-serif;
  background: rgba(0, 57, 80, 0.15);
  border-radius: 0.5em;
  color: #d1d0c5;
  cursor: pointer;
  border: 10px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border: none;
  transition: 200ms;
}

svg {
  min-width: 0;
  min-height: 0;
}

hr {
  border-width: 0;
  height: 4px;
  border-radius: 2px;
  background: #424446;
  width: 50%;
  margin: 30px auto;
}

@media (max-width: 600px) {
  html:has(#menu-toggle:checked) .modal-overlay {
    display: block;
  }
  html:has(#menu-toggle:checked) .hamburger-nav-links {
    display: flex !important;
    opacity: 1;
  }
  html:has(#menu-toggle:checked) header {
    z-index: 5;
    position: fixed;
    top: 5vh;
    left: 10vw;
    width: 80vh;
  }
  html:has(#menu-toggle:checked) header nav {
    position: fixed;
    top: 6.25vh;
    right: 12.5vw;
  }
}
html header nav {
  border-radius: 1em;
}
html .hamburger-nav-links {
  display: none !important;
}

html:has(#menu-toggle:checked) .hamburger-nav-links {
  display: flex;
  opacity: 1;
}
html:has(#menu-toggle:checked) .hamburger span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
}
html:has(#menu-toggle:checked) .hamburger span:nth-child(2) {
  opacity: 0;
}
html:has(#menu-toggle:checked) .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
}

.hamburger-nav-links {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 10vw;
  left: 10vw;
  height: 80vh;
  width: 80vw;
  padding: 10vh;
  font-size: 1.5em;
  border-radius: 1.5em;
  background: url(/assets/img/grain.webp) rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  z-index: 5;
  overflow: visible;
  opacity: 0;
}
.hamburger-nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  gap: 0.5em;
}
.hamburger-nav-links a svg {
  height: 1.5em;
  width: 1.5em;
}

header {
  width: calc(100vw - max(1vh, 1vw) * 2);
  position: sticky;
  top: max(1vh, 1vw);
  left: 0;
  margin: max(1vh, 1vw);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
header > * {
  backdrop-filter: blur(6px);
}
header svg {
  color: #d1d0c5;
}
header > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
  gap: 0.5em;
  padding: 0.5em;
}
header > a svg {
  height: 1.5em;
  width: 1.5em;
}
header nav {
  position: relative;
  overflow: visible;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
  padding: 0.5em;
}
header nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 0.5em;
}
header nav .menu-toggle {
  display: none;
}
header nav .hamburger {
  cursor: pointer;
  display: none;
  flex-direction: column;
}
header nav .hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 1.5px;
  margin: 5px auto;
  background-color: #424446;
}
@media (max-width: 680px) {
  header nav .hamburger {
    display: flex;
  }
  header nav .nav-links {
    display: none;
  }
}
header nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  gap: 0.5em;
}
header nav a svg {
  height: 1.5em;
  width: 1.5em;
}

@font-face {
  font-family: "Blender Pro Medium";
  src: url(font/BlenderProMedium.ttf);
}
@font-face {
  font-family: "Monaco";
  src: url(/assets/font/Monaco.ttf);
}
html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(6.5, 13.8666666667, 16.9);
}

h1, h2, h3, h4, h5, p, span, a {
  color: #d1d0c5;
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 0.2rem 0;
}

h1 {
  font-family: "Work Sans", Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

section {
  min-height: 70vh;
}

button, .button {
  padding: 0.5em 2em;
  font-size: 1.2rem;
  font-family: "Monaco", Helvetica, sans-serif;
  background: rgba(0, 57, 80, 0.15);
  border-radius: 0.5em;
  color: #d1d0c5;
  cursor: pointer;
  border: 10px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border: none;
  transition: 200ms;
}

svg {
  min-width: 0;
  min-height: 0;
}

hr {
  border-width: 0;
  height: 4px;
  border-radius: 2px;
  background: #424446;
  width: 50%;
  margin: 30px auto;
}

.background-overlay {
  position: fixed;
  top: -40%;
  left: 10;
  height: 120%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(to top, rgb(6, 182, 212), rgba(0, 0, 0, 0));
  background: url(/assets/img/grain-medium.webp), radial-gradient(100% 80% at top, rgba(6, 182, 212, 0.3) 0%, rgba(14, 165, 233, 0.1), transparent);
  -webkit-mask-image: radial-gradient(100% 80% at top, white, rgb(0, 0, 0), rgb(0, 0, 0), transparent);
  mask-image: radial-gradient(100% 80% at top, white, rgb(0, 0, 0), rgb(0, 0, 0), transparent);
}

.background-overlay-base {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
  background: url(/assets/img/grain-soft.webp), linear-gradient(to top, rgba(4, 128, 150, 0.1), rgba(0, 0, 0, 0));
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1.5px);
  display: none;
}

@media only screen and (max-width: 768px) {
  .background-overlay {
    transform: scalex(2);
  }
}
.logo {
  color: #d1d0c5;
  transform: translateX(-10%);
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 1em;
}

.container {
  padding: 4vh 0;
  margin: 2em auto;
  max-width: 90%;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .container {
    margin: 6em auto;
  }
}
.container div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 3em;
}
.container div * {
  align-self: center;
}
.container div svg {
  filter: drop-shadow(0 0 24px #207a83);
  z-index: -10;
}
.container button {
  align-self: center;
}

.homepage {
  height: 70vh;
}
@media (max-width: 560px) {
  .homepage #home-buttons {
    flex-direction: column !important;
  }
}

.container-l {
  padding: 4vh 0;
  margin: 2em auto;
  max-width: 90%;
  width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .container-l {
    margin: 6em auto;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 1.5rem 0;
  row-gap: 2rem;
  border-radius: 2em;
  justify-content: space-around;
}
.gallery .gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  max-width: 340px;
}
.gallery .gallery-item svg {
  filter: drop-shadow(0 0 30px rgba(32, 122, 131, 0.8));
  max-width: 180px;
  max-height: 180px;
  min-height: 180px;
  max-height: 180px;
  width: auto;
  height: auto;
  padding: 1em;
  overflow: visible;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
