@use 'style/_mixins.scss';

.background-overlay {
    position: fixed;
    top: -60%;
    left: 10;
    height: 120%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background: #0f2027; 
    background: linear-gradient(to bottom, #0f2027, #203a43);
    background:  url(/assets/img/grain-medium.webp), 
    radial-gradient(circle, rgba(21, 70, 90, 0.3) 0%, rgba(21, 70, 90, 0.15) 50%,rgba(6, 100, 120, 0.1) 100%, transparent 100%);
    mask-image: radial-gradient(50% 50% at 50% 50%,white, transparent);
}


@media only screen and (max-width: 768px) {
    .background-overlay {
        transform: scalex(2);
    }
}
  