@use 'style/utilities.scss';
@use 'reset.scss';
@import 'style/header.scss';
@import 'reset.scss';
@import 'style/_mixins.scss';
@import 'background.scss';

.logo {
    color: $fg;
    transform: translateX(-10%);
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1em;
}

.container {
    @include container(960px);


    div {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 3em;

        * {
            align-self: center;
        }

        svg {
            @include glow($accent, 24, 1);
            z-index: -10;
        }
    }

    button {
        align-self: center;
    }
}

.homepage {
    height: 70vh;
    #home-buttons {
        @media (max-width: 560px) {
            flex-direction: column !important;
        }
    }
}

.container-l {
    @include container(1250px);
}


.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 1.5rem 0;
    row-gap: 2rem;
    border-radius: 2em;
    justify-content: space-around;

    .gallery-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        @extend .accent-border;
        @extend .hover-grow;
        @extend .hover-box-glow;
        @extend .transition-fast;
        max-width: 340px;

        * {
            @extend .align-center;
        }

        svg {
            @include glow($accent, 30, 0.8);
            max-width: 180px;
            max-height: 180px;
            min-height: 180px;
            max-height: 180px;
            width: auto;
            height: auto;
            padding: 1em;
            overflow:visible;
            height: auto;
        }
    }
}