$accent: #207a83;
$dark-accent: #003950;
$base: #323436;
$fg: #d1d0c5;
$shadow: #525456;
$gray: #424446;

@font-face {
    font-family: "Blender Pro Medium";
    src: url(font/BlenderProMedium.ttf);
}

@font-face {
    font-family: "Monaco";
    src: url(/assets/font/Monaco.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: darken(#0f2027, 6%); 
}

h1, h2, h3, h4, h5, p, span, a {
    color: $fg;
    font-family: 'Work Sans', Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    margin: .2em 0;
}

h1 {
    font-family: "Work Sans", Helvetica, sans-serif;
    font-size: 4.5em;
    font-weight: 700;
}

h2 {
    font-size: 3em;
    font-weight: 600;
}

h3 {
    font-size: 2em;
    font-weight: 600;
}

h4 {
    font-size: 2em;
    font-weight: 600;
}

h5 {
    font-size:1.3em;
    font-weight: 500;
}

section {
    min-height: 70vh;
}

button, .button {
    padding: .5em 2em;
    font-size: 1.2rem;
    font-family: "Monaco", Helvetica, sans-serif;
    background: rgba($dark-accent, 0.15);
    border-radius: .5em;
    color:#d1d0c5;
    cursor: pointer;
    border: 10px solid rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    border: none;
    transition: 200ms;
}

svg {
    min-width: 0;
    min-height: 0;
}