@import url(./styles/reset.css);
@import url(./styles/header.css);
@import url(./styles/main.css);

.flex-container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-display{
    display: flex;
    flex-direction: column;
}
