@mixin glow($base-color, $blur, $strength) {
    filter: drop-shadow(0 0 #{$blur}px rgba($base-color, $strength));
}

@mixin gradient-text($start-color, $end-color) {
    background: linear-gradient(45deg, $start-color, $end-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

@mixin text-glow($base-color, $blur, $strength) {
    text-shadow: 0 0 #{$blur}px rgba($base-color, $strength);
}