@mixin glow($base-color, $blur, $strength) {
    filter: drop-shadow(0 0 #{$blur}px rgba($base-color, $strength));
}

@mixin text-glow($base-color, $blur, $strength) {
    text-shadow: 0 0 #{$blur}px rgba($base-color, $strength);
}

@mixin box-glow($base-color, $blur, $strength) {
    box-shadow: 0 0 #{$blur}px rgba($base-color, $strength);
}

@mixin gradient-text($start-color, $end-color) {
    background: linear-gradient(45deg, $start-color, $end-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

@mixin blur-blob($bg-color, $blur-radius) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3em;
    height: 3em;
    background: $bg-color;
    filter: blur($blur-radius);
    border-radius: 50%;
    pointer-events: none; 
    transform: translate(-50%, -50%);
    will-change: transform;
}

@mixin container($size) {
    padding: 4vh 0;
    margin: 2em auto;
    @media (max-width: 768px) {
        margin: 6em auto;
    }
    max-width: 90%;
    width: $size;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}