@import '../reset.scss';
@import '_mixins.scss';
/*
html {
    &:has(#menu-toggle:checked) {
        .modal-overlay {
            display: block;
        }
    }
}
*/
header {
    width: calc(100vw - (max(1vh, 1vw) * 2));
    position: sticky;
    top: max(1vh, 1vw);
    left: 0;
    margin: max(1vh, 1vw);
    z-index: 2;

    display: flex;
    justify-content: space-between;
    overflow: hidden;

    > *{
        backdrop-filter: blur(6px);
    }

    svg {
        color: $fg;
    }

    > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5em;
        
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 9999px;
        gap: .5em;
        padding: .5em;

        svg {
            height: 1.5em;
            width: 1.5em;
        }
    }

    nav {
        position: relative;
        overflow: visible;
        font-size: 1.5em;

        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 9999px;
        padding: .5em;

        .nav-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;    
            flex-shrink: 0;
            gap: .5em;
        }

        .menu-toggle {
            display: none;
        }

        .hamburger {
            cursor: pointer;
            display: none;

            span {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                background-color: $gray;
            }
        }

        .hamburger-nav-links {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: fixed;
            top: 10vh;
            left: 10vw;
            height: 90vh;
            width: 90vw;
            background: red;
            z-index: 9999;
            overflow: visible;
        }

        // media
        @media (max-width: 680px) {
        }

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;
            gap: .5em;
    
            svg {
                height: 1.5em;
                width: 1.5em;
            }
        }
    }
}