@import '../reset.scss';
@import '_mixins.scss';

.flex {
    display: flex;
}
 
.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.accent {
    color: $accent;
}

.accent-gradient {
    @include gradient-text($accent, lighten(saturate($accent, 40%), 5%));
}

.text-gradient {
    @include gradient-text($fg, darken($fg, 20%));
}

.accent-glow {
    @include glow($accent, 6, 0.4);
}

.text-accent-glow {
    @include text-glow($accent, 6, 0.4);
}

.text-accent-glow-strong {
    @include text-glow($accent, 8, 1);
}

.text-hover-glow-accent-s {
    transition: 200ms;
    &:hover {
        transition: 300ms;
        text-shadow: 
        0 0 4px $accent,
        0 0 8px $accent,
        0 0 12px $accent;
    }
}

.text-hover-glow-accent-m {
    $glow-color: rgba($accent, 0.75);
    transition: 350ms ease-out;
    &:hover {
        transition: 400ms;
        text-shadow: 
        0 0 8px $glow-color,
        0 0 16px $glow-color,
        0 0 24px $glow-color;
    }
}

.hover-grow {
    transition: transform 200ms;
    &:hover {
        transform: scale(1.05) translateY(0);
    }
}

.hover-blur {
    overflow: hidden !important;
}

.accent-border {
    border: .15em solid $accent;
}

.blurred-bg {
    background: linear-gradient(to bottom, #0f2027, #203a43);
    background: url(/assets/img/grain-soft.webp),rgba($dark-accent, 0.1);
}


.blur {
    @include blur-blob(rgba($accent, 0.8), 56px);
}

.blur-soft {
    @include blur-blob(rgba($accent, 0.6), 64px);
}

.separator {
    cursor: default;
}


.underline-animation {
    position: relative;
    color: $fg;
    padding: 0.2em 0;

    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.05em;
        background-color: $fg;
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
        transition: opacity 300ms, transform 300ms;
    }

    &:hover::after {
        transform: scale(1); 
    }
}

.large {
    font-size: 2rem;
}


// animations

.load-1 {
    opacity: 0;
    animation: 1s ease-out 0s 1 slideUp1 forwards;
}

.load-2 {
    opacity: 0;
    animation: 1s ease-out 0s 1 slideUp1 forwards;
}

.load-3 {
    opacity: 0;
    animation: 1s ease-out 0s 1 slideUp2 forwards;
}

.animation-delay-1 {
    animation-delay: 100ms;
}
.animation-delay-2 {
    animation-delay: 200ms;
}
.animation-delay-3 {
    animation-delay: 300ms;
}

@keyframes slideUp1 {
    0% {
        opacity: 0;
        transform: translateY(30vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp2 {
    0% {
        opacity: 0;
        transform: translateY(20vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
