@import url(./reset.css);

#content-div {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 88vh;
}

#centered-content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 88vh;
}

section {
    width: 80%;
    margin: auto;
    text-align: left;
}

hr {
    margin: 4vh auto;
    opacity: 0;
    background-color: var(--fg);
}

h2 {
    font-family: "Silkscreen", "Fira Code", "Fira Sans", monospace;
    font-weight: 400;
}