@import url(./reset.css);

header {
    width: 100%;
    position: sticky;
    top: 0;
    
    display: flex;
    justify-content: space-between;

    background-color: var(--bg);
    z-index: 1;
    overflow: shown;
}

nav {
    display: flex;
    align-items: center;
    
    padding: 0 5vw 0 20px;
    border-bottom: 0.1em solid var(--fg);
    max-height: 4em;
}

nav a {
    font-family: 'Silkscreen', 'Fira Sans', sans-serif;
    margin: 0 8px;
}

nav ul{
    display: flex;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle-checkbox {
    display: none;
}

.logo {
    max-width: 416px;
}

  
@media (max-width: 768px) {

    header nav {
        max-height: fit-content;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 6px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #191621;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle-checkbox:checked ~ ul {
        display: flex;
    }

    header label{
        font-size: 2.4em;
    }
}
