@import url(./reset.css);

header {
    width: 100%;
    position: sticky;
    top: 0;
    
    display: flex;
    justify-content: space-between;

    background-color: var(--bg);
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    
    padding: 0 5vw 0 20px;
    border-bottom: 0.1em solid var(--fg);
}

nav a {
    font-family: 'Silkscreen', 'Fira Sans', sans-serif;
    margin: 0 8px;
}

#logo {
    height: 9vh;
}
