@import url(./reset.css);

form {
    border: 2px solid var(--fg);
    border-radius: 4px;
    margin: 8px;
}

form,
.card{
    padding: 30px 40px;
}

form * {
    margin: 8px auto;
}

label {
    font-size: 0.8em;
}

input[type="submit"] {
    cursor: pointer;
    padding: 3px 12px;
    transition: .3s;
}

input { 
    background-color: var(--bg-shadow);
    color: var(--fg);
    border: 2px solid var(--bg4);
    border-radius: 4px;
    padding: 4px;
    transition: .3s;
    display: inherit;
}

input:hover {
    border-color: var(--fg-shadow);
}

input:focus {
    outline: 1px solid var(--fg);
    filter: drop-shadow(0 0 4px var(--bg4));
}

input:focus,
input:hover{
    transform: scale(1.02);
    transition: .3s;
}

form p {
    font-size: 0.6em;
}

form p a {
    font-family: "Fira Sans", "Fira Code", monospace;
    font-weight: 500;
}

button {
    margin: 6px;
    padding: 4px 12px;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    border-color: var(--fg-shadow);
}

input[type="submit"]:hover {
    transform: scale(1.05);
    transition: .3s;
}

button,
.card{
    background-color: var(--bg-shadow);
    color: var(--fg);
    border: 2px solid var(--bg3);
    border-radius: 6px;
}


.plans{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.card{
    text-align: justify;
    max-width: 60%;
    margin: 2em;
}

.plans .card{
    flex: .2;
    text-align: center;
    cursor: pointer;
    transition: 300ms;
}

.plans .card:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 4px var(--bg3));
    border-color: var(--bg4);
}

@media (max-width: 1256px) {
    .plans{
        align-items: center;
        flex-direction: column;
    }

    .plans .card{
        max-width: 80%;
    }

    .card {
        max-width: 90%;

    }
}

.card p{
    text-indent: 1em;
}

table, th, td {
    border: 1px solid white;
}

th{
    font-size: 1.1em;
}

th, td {
    max-width: 200px;
    padding: 12px;
    text-align: center;
}

#inline-logo,
#inline-logo::before {
    background-size: 500%;
    background-clip: text;
    -webkit-background-clip: text;
    color: var(--fg);
}

#inline-logo:hover,
#inline-logo:hover::before {
    color: transparent;
    background-image: linear-gradient(to right, var(--fg) 0% 50%, var(--fg-shadow) 50% 100%);
    animation: loader 1.2s forwards;
}

@keyframes loader {
    100% {
      background-position: -100% 0;
    }
}