@import url(./reset.css);

form {
    border: 2px solid var(--fg);
    border-radius: 4px;
}

form,
.card{
    padding: 30px 40px;
}

form * {
    margin: 8px auto;
}

label {
    font-size: 0.8em;
}

input[type="submit"] {
    cursor: pointer;
    padding: 3px 12px;
    transition: .3s;
}

input { 
    background-color: var(--bg-shadow);
    color: var(--fg);
    border: 2px solid var(--bg4);
    border-radius: 4px;
    padding: 4px;
    transition: .3s;
    display: inherit;
}

input:hover {
    border-color: var(--fg-shadow);
}

input:focus {
    outline: 1px solid var(--fg);
    filter: drop-shadow(0 0 4px var(--bg4));
}

input:focus,
input:hover{
    transform: scale(1.02);
    transition: .3s;
}

form p {
    font-size: 0.6em;
}

form p a {
    font-family: "Fira Sans", "Fira Code", monospace;
    font-weight: 500;
}

button {
    padding: 4px 12px;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    border-color: var(--fg-shadow);
}

input[type="submit"]:hover {
    transform: scale(1.05);
    transition: .3s;
}

button,
.card{
    background-color: var(--bg-shadow);
    color: var(--fg);
    border: 2px solid var(--bg3);
    border-radius: 6px;
}

.plans{
    display: flex;
    gap: 16px;
}

.card{
    max-width: 600px;
    text-align: center;
}

.card p{
    text-indent: 1em;
}
