@charset "UTF-8";

:root {
    --bg: black;
    --bg-shadow: rgb(17, 17, 17);
    --bg2: rgb(30, 30, 30);
    --bg3: rgb(60, 60, 60);
    --bg4: rgb(120, 120, 120);
    --fg: rgb(242, 236, 229);
    --fg-shadow-light: rgb(200, 197, 195);
    --fg-shadow: rgb(180, 178, 176);

    --font-main: 'Fira Sans', 'Fira Code', 'Courier New', Courier, monospace;
    --font-title: 'Silkscreen', 'Fira Code', 'Fira Sans', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--fg);
    min-height: 84vh;
    background-color: var(--bg);
    font-family: var(--font-main);
}

section{
    min-height: 84vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

[contenteditable="true"]:focus {
    outline: none;
}

h1{
    margin-bottom: 12px;
    color: var(--fg);
    font-size: 2.1em;
    text-align: center;
    text-wrap: nowrap;
    filter: drop-shadow(0 0 6px var(--fg));
}

h1,
h2 {
    font-family: var(--font-title);
    font-weight: 400;
    margin-bottom: 12px;
}

h3 {
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;

    position: relative;
    padding: 0.2em 0;

    display: inline-block;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.06em;
    background-color: var(--fg);
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
    transition: opacity 300ms, transform 300ms;
}

a.no-animation::after {
    opacity: 0;
}

a:hover::after,
#page-anchor::after {
    transform: scale(1); 
}

#page-anchor {
    filter: drop-shadow(2px 2px 1px var(--bg4));
}

ul {
    list-style-type: none;
}

img{
    width: 100%;
}
